.lesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 93vw;
}

.contentLesson {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.lesson h3 {
  font-size: 4rem;
  color: #ffc736;
}

.lesson h4 {
  font-size: 2rem;
  margin: 1.5rem;
  color: #ffc736;
  align-self: flex-start;
}

.lesson p {
  font-size: 1.25rem;
  margin: 3.5rem;
  color: #5d7081;
}

.lesson img {
  max-height: 40vh;
  max-width: 93vw;
  align-self: center;
}

.menuRessourcesVideo {
  display: flex;
  flex-direction: column;
}

.ressourceVideo {
  display: flex;
  flex-direction: column;
}

.ressourceVideo iframe {
  align-self: center;
  max-width: 93vw;
}
