.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
}
.footer-text {
  color: black;
}
.footer-link {
  color: black;
}
