.REACTPage {
  display: flex;
  width: 91vw;
  flex-direction: column;
  place-self: flex-end;
}
.REACTPage h3 {
  font-size: 6rem;
}

.REACTPage h4 {
  font-size: 3rem;
  padding: 0.75rem;
}

.REACTPage p {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.REACTPage img {
  place-self: center;
  width: 40vw;
}

@media screen and (max-width: 450px) {
  .REACTPage {
    width: 100vw;
    place-self: center;
  }
  .REACTPage h3 {
    font-size: 4rem;
  }
  .REACTPage h4 {
    font-size: 2rem;
  }
  .REACTPage p {
    font-size: 1rem;
  }
  .REACTPage iframe {
    height: 15vh;
    width: 60vw;
  }
}
