.reactPage {
  display: flex;
  width: 91vw;
  flex-direction: column;
  place-self: flex-end;
}
.reactPage h3 {
  font-size: 6rem;
  place-self: center;
}

.reactPage h4 {
  font-size: 3rem;
  padding: 0.75rem;
}

.reactPage p {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.reactPage img {
  place-self: center;
  width: 40vw;
}

@media screen and (max-width: 450px) {
  .reactPage {
    width: 100vw;
    place-self: center;
  }
  .reactPage h3 {
    font-size: 4rem;
  }
  .reactPage h4 {
    font-size: 2rem;
  }
  .reactPage p {
    font-size: 1rem;
  }
  .reactPage iframe {
    height: 15vh;
    width: 60vw;
  }
}
