.buttonFormations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonFormations button {
  background-color: #fffcf4;
  display: grid;
  width: 95vw;
  height: 10vh;
  margin-top: 25px;
  place-items: center;
  text-decoration-color: #ffc736;
  font-size: 40px;
  color: #5d7081;
  border-radius: 0.5rem;
  border-color: #5d7081;
  border: solid 0.25rem;
}
