@media screen and (max-width: 450px) {
  .buttonBurger {
    background-color: #fffcf4;
    border: none;
    color: #ffc736;
    cursor: pointer;
  }

  .list {
    display: block;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    background: #fffcf4;
    border-style: none;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 50vh;
    width: 7vw;
    position: fixed;
    box-shadow: 7px 0px 5px 0px rgba(93, 112, 129, 0.32);
  }

  .element {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .link {
    color: #121314;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  .logo {
    height: 2rem;
  }
}
