.containerBannerLogo {
  display: flex;
  height: 10vh;
  width: 89vw;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.containerBannerLogo img {
  max-height: 15vh;
  width: 60vw;
}
